@use "variables" as colore;

/* Moved in styles.scss:
    - .contenitore-main-carrello --> .ctn-cc-main ✅
    - .contenitore-main-content --> .ctn-cc-main-content ✅
    - .content-carrello --> .content-cc✅
    - .contenitore-dettagli-carrello --> .ctn-cc-details ✅
    - .titolo-carrello --> .cc-title ✅
    - .contenitore-dati-carrello --> .ctn-cc-data ✅
    - .riepilogo-carrello --> .cc-summary ✅
    - .link-spedizione --> .text-link ✅
    - .dettagli-carrello --> .cc-details ✅
    - .negozio --> .text-link-2 ✅
    - .content-riepilogo --> .summary-content✅
    - .titolo-riepilogo --> .summary-title ✅
    - .testo-riepilogo --> .summary-text ✅
    - .question-mark-ctn ✅
*/

.titolo-checkout {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
}

.contenitore-form {
  padding-bottom: 30px;
}

/* Per dare spazio tra il div del form e del riepilogo */
.form {
  padding-left: 20px;
  padding-right: 20px;
}

.contenitore-form2 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  /* justify-content: space-between; */
  gap: 16px;
  //   padding-bottom: 10px;
  //   margin-bottom: 5px;
  position: relative;
}

.contenitore-bottoni-checkout {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
  margin-bottom: 12.5px;

  /* Padding for checkout's buttons  */
  button {
    padding: 15px 24px;
    font-size: 1em;
  }
}

// Container for the input, checkmark icon and the error message
.voce-form {
  border-radius: 8px;

  input[type="radio"] {
    width: 0;
    height: 0;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    z-index: -1;

    ~ label {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      padding: 14px 10px;
      gap: 5px;
      border: 1px solid colore.$grigio-chiaro2;
      cursor: pointer;
    }

    &:disabled ~ label {
      cursor: default; // Forse not-allowed
      color: colore.$grigio-chiaro2;

      img {
        filter: invert(50%) grayscale(100%);
      }
    }
  }

  // voce-form input container (it has the input, the label and the checkmark icon)
  .vf-input-ctn {
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
    align-items: center;
    position: relative;
    height: 3.5rem;
    border: 1px solid colore.$grigio;
    border-radius: 8px;

    &:hover:not(:has(input:disabled)) {
      border-color: colore.$nero;
    }

    &:has(input[type="text"]:focus) {
      border-color: colore.$nero;
      outline: none;

      input[type="text"]:focus ~ label {
        color: colore.$nero;
      }
    }

    // For "Paese/regione*" input
    &:has(input[type="text"]:disabled) {
      border-color: colore.$grigio-chiaro2;

      &:hover {
        border-color: colore.$grigio-chiaro2;
      }
    }

    .input-form {
      //   position: absolute; // Per adesso lo commento
      width: 100%;
      flex-grow: 1;
      height: 100%;
      background-color: colore.$bianco;
      border: 1px solid transparent;
      height: 100%;
      border-radius: 8px;
      padding: 16px 12px;
      font-size: 1em;
      font-family: Helvetica;

      &:focus {
        outline: none;
      }
    }

    label {
      position: absolute;
      background: colore.$bianco;
      color: colore.$grigio;
      font-family: sans-serif;
      left: 1em;
      top: 50%;
      transform: translateY(-50%);
      cursor: text;
      transition:
        top 250ms ease,
        font-size 250ms ease;
    }

    input[type="text"]:focus ~ label,
    input[type="text"]:disabled ~ label,
    .input-form:not(:placeholder-shown).input-form:not(:focus) ~ label {
      top: 0;
      transform: translateY(-50%);
      font-size: 0.8rem;
      padding: 0 0.125em;
    }

    &:has(input[type="text"]:disabled) input[type="text"] ~ label {
      color: colore.$grigio-chiaro2;
    }

    .input-icon {
      display: flex;
      width: 24px;
      height: 24px;
      margin-right: 12px;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
      pointer-events: none;

      &.visible {
        opacity: 1;
      }
    }
  }

  &:has(.messaggio-errore.active) {
    .vf-input-ctn {
      border-color: colore.$rosso;

      label {
        color: colore.$rosso;
      }

      &:hover {
        border-color: colore.$rosso;
      }

      &:has(input[type="text"]:focus) {
        border: 1px solid colore.$rosso;
        outline: none;

        input[type="text"]:focus ~ label {
          color: colore.$rosso;
        }
      }
    }
  }

  .error-message-ctn {
    min-height: 1.25em;

    .messaggio-errore {
      //   position: absolute;
      display: block;
      margin-top: 4px;
      padding: 0 12px;
      font-size: 0.75em;
      opacity: 0;
      visibility: hidden;
      color: colore.$rosso;
      word-wrap: break-word;
      margin-bottom: 10px;

      &.active {
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.voce-form.tipo-1 {
  width: 100%;
}

/* .voce-form:has(#spedizione:checked), .voce-form:has(#ritiro:checked){
    border: 2px solid colore.$nero);
} */

#spedizione:checked ~ label,
#ritiro:checked ~ label {
  border: 2px solid colore.$nero;
}

.voce-form.tipo-2 {
  width: 50%;
  /* gap: 5px; */
}
.voce-form.tipo-3 {
  width: 35%;
}

.voce-form.tipo-3:last-child {
  width: 30%;
}

.contenitore-form2.pagamento {
  padding: 25px 24px;

  border-radius: 4px;
  border: 1px solid colore.$grigio;

  .voce-form.tipo-3 {
    width: 25%;

    &:first-child {
      width: 55%;
    }
  }
}

// per adesso rimosso .input-form vecchio (forse globalizzare .vf-input-ctn)

// .rosso::placeholder {
//   color: colore.$rosso;
// }

/* .bottone-continua{

} */

// DA modificare
#gift-card {
  display: none; /* L'input scompare poiché la label farà il lavoro */
}

/* Crea una casella personalizzata */
#gift-card + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  /* font-size: 16px; */
}

/* La label avrà questa casella personalizzata */
#gift-card + label::before {
  content: ""; /* All'inizio non è presenta la spunta quindi il content è vuoto */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 1.5px solid colore.$nero;
  border-radius: 4px;
  background-color: colore.$bianco;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}

/* Colore di sfondo della casella cambiata quando la checkbox è checked */
#gift-card:checked + label::before {
  background-color: colore.$nero;
}

/* Il segno spunta quando la checkbox è checked  */
#gift-card:checked + label::after {
  content: "✔";
  position: absolute;
  left: 5px;
  bottom: 1px;
  color: colore.$bianco;
  font-size: 1em;
}

/* Aggiungi l'ombra rotonda quando si passa il mouse sopra la casella */
#gift-card + label:hover::before {
  box-shadow: 0 0 0 5px colore.$grigio-hover;
}

/* Parte radio buttons pagamento */
.radio-button {
  display: none;
}

/* Crea il pulsante radio personalizzato */
.radio-button + label {
  display: flex;
  gap: 5px;
  align-items: center; /* Per l'allineamento del testo della prima radio-button */
  position: relative;
  padding-left: 35px; /* Spazio per il cerchio */
  cursor: pointer;
  /* font-size: 1.125em; */
  transition: all 0.3s ease; /* Animazione dolce per l'hover */
}

/* Crea il cerchio del radio button */
.radio-button + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px; /* Aumentato per ingrandire il cerchio */
  height: 20px; /* Aumentato per ingrandire il cerchio */
  border: 1px solid colore.$grigio; /* Bordo nero per il cerchio */
  border-radius: 50%; /* Crea la forma rotonda */
  background-color: colore.$bianco;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

/* Quando il radio button è selezionato, cambia il colore e la dimensione */
.radio-button:checked + label::before {
  background-color: colore.$bianco; /* Lo sfondo rimane bianco */
  border-color: colore.$nero;
}

/* Aggiungi un cerchio interno nero quando il radio button è selezionato */
.radio-button:checked + label::after {
  content: "";
  position: absolute;
  /* Posizione cerchio interno */
  left: 5.4px;
  top: 5.4px;
  width: 12px; /* Dimensioni del cerchio interno */
  height: 12px; /* Dimensioni del cerchio interno */
  border-radius: 50%;
  background-color: colore.$nero; /* Colore nero per il cerchio interno */
}

/* Aggiungi un effetto di ombra quando si passa il mouse sopra */
.radio-button + label:hover::before {
  box-shadow: 0 0 0 5px colore.$grigio-hover; /* Ombra netta, senza sfocatura */
}

.bordo-gpay {
  width: 48px;
  border: 2px solid colore.$grigio;
  border-radius: 10px;
  padding: 3px;
}

.contenitore-CVV {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

// Forse da togliere o rinominare
.fase-nonAttiva {
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: height 0.4s;

  &.active {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

#contenitore-bottone-lingua.checkout {
  align-items: flex-start;
}

.testo-verifica {
  color: colore.$grigio;
  margin-bottom: 20px;
}

/* .fase-attiva{
    display: 1;
    opacity: 1;
    height: 100%;
} */

.contenitore-img-domanda {
  display: flex;
  gap: 5px;
  align-items: center;
}

.testo-modifica {
  display: flex;
  gap: 5px;
  color: colore.$grigio;
  border-bottom: px solid transparent;
}

.contenitore-checkbox {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 20px 20px 20px 4px;
}

#contenitore-input-carta {
  display: none;
  /* display: flex; flex-wrap: wrap; */
}

#contenitore-radio-button {
  margin-bottom: 24px;
}

.margini-contenitore-radio {
  margin-bottom: 10px;
  padding: 0 4px 12px 4px;
}

#contenitore-radio-button:has(#carta-credito-debito:checked)
  ~ #contenitore-input-carta {
  display: block;
}

#contenitore-radio-button:has(#paypal:checked) ~ #messaggio-paypal {
  display: block;
}

#paypal ~ label img {
  width: 60px;
  height: 16px;
}

#messaggio-paypal {
  display: none;
  font-family: helvetica;
  font-weight: 500;
}

.contenitore-testo-carta {
  width: 100%;
  margin-bottom: 24px;
}

.contenitore-input-img {
  position: relative;
  display: flex;
  align-items: center;
}

.contenitore-input-img img {
  width: 24px;
  height: 24px;
  z-index: 2;
  position: absolute;
  right: 10px;
}

.bordo-checkout {
  border-top: 1px solid colore.$grigio-chiaro1;
  margin-top: 16px;
  padding: 16px 0;
}

.contenitore-img-piccolo {
  width: 96px;
  height: 96px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: colore.$grigio-bianco;
}

.contenitore-dati-checkout {
  margin-top: 20px;
  display: flex;
  flex-flow: column wrap;

  p {
    font-family: Helvetica, sans-serif;
  }

  .item-checkout {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;

    .dati-checkout-header {
      color: colore.$nero;
    }

    .dati-checkout-body {
      color: colore.$grigio;
      margin-bottom: 5px;

      p {
        font-weight: 400;
      }
    }
  }
}
