@use "variables" as colore;

// parte da globalizzare
.contenitore-main-carrello {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  vertical-align: top;
  position: relative;
  margin: 0 auto 40px;
  padding-top: 50px;
}

.contenitore-main-content {
  /* width: 100%; */
  max-width: 1100px;
}

/* Contenitore subito sotto il main che gestisce la disposizione dei tre contenitori scritti sotto */
.content-carrello {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Contenitore sezione "dati-scarpa-carrello" */
.contenitore-dettagli-carrello {
  width: 64%;
  margin-right: 5px;
}

.titolo-carrello {
  font-size: 1.6em;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
}

.contenitore-dati-carrello {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  /* padding-bottom: 12.5px; */
  margin-bottom: 25px;
  border-bottom: 0.5px solid colore.$grigio-chiaro1;
}

/* Contenitore sezione "Riepilogo */
.riepilogo-carrello {
  width: 34%;
  padding: 0 15px;
  margin-bottom: 16px;
  /* flex-grow: 1; */
}

/* Contenitore sezione con titolo "Preferiti" */
.preferiti-carrello {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}

/* Sezione "dati-scarpa-carrello" */
/* Spedizione gratuita */
.contenitore-spedizione {
  margin-bottom: 12px;
  padding: 17px;
  color: colore.$nero;
  box-shadow:
    inset 0px 1px 0px 0px colore.$grigio-chiaro1,
    inset -1px 0px 0px 0px colore.$grigio-chiaro1,
    inset 0px -1px 0px 0px colore.$grigio-chiaro1,
    inset 1px 0px 0px 0px colore.$grigio-chiaro1;
  /* font-weight: 400; */
}

.titolo-spedizione {
  color: colore.$arancione;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.link-spedizione {
  color: colore.$nero;
  padding-bottom: 2px;
  box-shadow: 0px -1px 0px 0px inset;

  &.grigio {
    color: colore.$grigio;
  }
}

.dettagli-carrello {
  display: flex;
  flex-direction: column;
}

.titolo-carrello {
  font-size: 1.6em;
  font-family: Helvetica, sans-serif;
  font-weight: 500;
}

.contenitore-dati-carrello {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  /* padding-bottom: 12.5px; */
  margin-bottom: 25px;
  border-bottom: 0.5px solid colore.$grigio-chiaro1;
}

.carrello-img-testo {
  display: flex;
}

.contenitore-img-carrello {
  width: 180px;
  min-width: 180px;
  height: 180px;
  overflow: hidden;
  padding-right: 16px;
}

.contenitore-img-carrello img {
  width: 164px;
  height: 164px;
}

.contenitore-testo-carrello {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.dati-carrello {
  display: flex;
  flex-direction: column;
  min-width: 0px;
}

.link-flex-ctn {
  display: flex;
  flex-flow: column wrap;
  min-width: 0px;
  align-items: flex-start;
  gap: 10px;
}

.testo-carrello {
  color: colore.$grigio;
  margin: 5px 0 3px;
  font-size: 1em;
}

.link-taglia-regalo {
  text-decoration: none;
  color: colore.$grigio;
  border-bottom: 1.5px solid colore.$nero;
  box-shadow: inset 0 -1px 0 0 colore.$nero;
  font-weight: bold;
  border-bottom-color: colore.$grigio;
  padding-bottom: 3px;

  &:hover {
    border-bottom: 1.5px solid colore.$grigio;
    box-shadow: inset 0 -1px 0 0 colore.$grigio;
  }
}

.linea {
  border-top: 0.5px solid colore.$grigio-chiaro1;
  margin-top: 25px;
}

.contenitore-bottoni-carrello {
  width: 164px;
  background-color: colore.$bianco;
  border-radius: 30px;
  display: flex;
  margin-top: 7px;
  margin-bottom: 12px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.contenitore-bottoni-carrello button {
  cursor: pointer;
  background-color: colore.$bianco;
  //   border: none;
  border-radius: 50%;
}

.contenitore-btn-prezzo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid colore.$grigio-chiaro1;
  border-radius: 30px;
}

.bottone-prezzo {
  padding: 8px;
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;
}

.bottone-prezzo.preferiti {
  padding: 10px;
  border: 0.5px solid colore.$grigio-chiaro1;
}

#numero-scarpe {
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testo-ritiro {
  padding-top: 12px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.negozio {
  color: colore.$nero;
  border-bottom: 1px solid colore.$nero;
  padding-bottom: 2px;
}

a.negozio:hover {
  border-bottom: 2px solid colore.$nero;
}

.negozio.modifica:hover {
  cursor: pointer;
  color: colore.$grigio;
}

#no-item {
  //   display: none;
  font-family: helvetica;
  font-size: 1.063em;
  font-weight: 500;
  margin-top: 10px;
  padding: 0 8px;
}

/* Sezione "Riepilogo" */
.content-riepilogo {
  padding: 0px 8px 12px;
  margin-top: 0px;
  line-height: 28px;
}

.titolo-riepilogo {
  margin-bottom: 24px;
  font-family: helvetica;
  font-size: 1.5em;
  font-weight: 500;
}

.testo-riepilogo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  /* padding-bottom: 10px; */
}

.testo-riepilogo h4 {
  font-weight: 500;
}

.testo-riepilogo p {
  font-size: 1.063em;
}

/* Per il testo "Costi di spedizione e gestione previsti" */
.testo-riepilogo > div:first-child {
  width: 75%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.question-mark-ctn {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  width: 20px;
  height: 20px;

  .q-mark-button {
    text-decoration: none;
    text-transform: none;
    background: none;
    border: medium;
    padding: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
  }

  .q-mark-popup {
    border-radius: 2px;
    background: colore.$grigio-scuro2;
    width: 250px; // 200px su media query più piccole
    z-index: 7;
    font-size: 14px;
    line-height: 1.3;
    color: colore.$bianco;
    inset: 100% 50% auto auto;
    margin: 10px -20px auto auto;
    padding: 16px;
    opacity: 1;
    visibility: visible;
    position: absolute;

    &::after {
      display: block;
      position: absolute;
      //   width: 20px;
      inset: auto 10px 100% auto;
      border-width: medium 10px 10px;
      border-style: none solid solid;
      border-color: currentcolor transparent colore.$grigio-scuro2;
      content: "";
    }
  }
}

.totale {
  display: flex;
  justify-content: space-between;
  margin: 0 8px;
  padding: 20px 0;
  align-items: center;
  border-top: 1px solid colore.$grigio-chiaro1;
  border-bottom: 1px solid colore.$grigio-chiaro1;
}

.contenitore-bottoni-riepilogo {
  margin-top: 32px;
}

.img-paypal {
  //   width: 51px;
  aspect-ratio: 51 / 14;
}

.legal-text-ctn {
  font-size: 12px;
  font-weight: 400;
  color: colore.$grigio;
  display: block;
  margin-top: 20px;
  padding-bottom: 24px;

  a {
    color: inherit;
  }
}

.titolo-preferiti {
  margin-top: 24px;
  margin-bottom: 5px;
  font-family: helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.688em;
}

/* NN so dove è stato utilizzato */
.bordo {
  border-top: 0.5px solid colore.$grigio-chiaro1;
  padding-top: 24px;
}

/* Parte checkout.html */
.header-checkout {
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subheader-checkout {
  width: 100%;
  height: 47px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 0;
}

.contenuto-subheader {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 0.875em;
  font-family: helvetica;
}

.ctn-chat {
  display: flex;
  justify-content: space-between;
}

.titolo-checkout {
  text-align: center;
  font-family: helvetica;
  font-weight: 500;
}

.contenitore-form {
  padding-bottom: 15px;
}

/* Per dare spazio tra il div del form e del riepilogo */
.form {
  padding-left: 20px;
  padding-right: 20px;
}

.contenitore-form2 {
  width: 100%;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 16px;
  margin-bottom: 25px;
  position: relative;
}

.messaggio-errore {
  position: absolute;
  margin-top: 4px;
  padding: 0 12px;
  font-size: 0.75em;
  opacity: 0;
  color: colore.$rosso;
}

.contenitore-bottoni-checkout {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
  margin-bottom: 12.5px;
}

/* Padding dei bottoni sul checkout */
.contenitore-bottoni-checkout button {
  padding: 15px 24px;
  font-size: 1em;
}

.voce-form {
  border-radius: 8px;
}

/* .voce-form.input:hover{
    border: 1px solid colore.$nero);
} */

.voce-form.tipo-1 {
  width: 100%;
}

.voce-form input[type="radio"] {
  width: 0;
  height: 0;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  z-index: -1;
}

.voce-form input[type="radio"] ~ label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 14px 10px;
  gap: 5px;
  border: 1px solid colore.$grigio-chiaro2;
  cursor: pointer;
}

/* .voce-form:has(#spedizione:checked), .voce-form:has(#ritiro:checked){
    border: 2px solid colore.$nero);
} */

#spedizione:checked ~ label,
#ritiro:checked ~ label {
  border: 2px solid colore.$nero;
}

.voce-form.tipo-2 {
  width: 50%;
  /* gap: 5px; */
}
.voce-form.tipo-3 {
  width: 35%;
}

.voce-form.tipo-3:last-child {
  width: 30%;
}

/* 
.voce-form:has(.input-form:disabled){
    /* background-color: #707072; */
/* border:1px solid rgb(202, 202, 203);
    color: rgb(202, 202, 203); */
/* } */

.contenitore-form2.pagamento {
  border-radius: 4px;
  border: 1px solid colore.$grigio;
}

.contenitore-form2.pagamento .voce-form.tipo-3:first-child {
  width: 55%;
}
.contenitore-form2.pagamento .voce-form.tipo-3 {
  width: 25%;
}

.input-form {
  width: 100%;
  background-color: colore.$bianco;
  border: 1px solid colore.$grigio;
  height: 100%;
  border-radius: 8px;
  padding: 16px 12px;
  font-size: 1em;
}

.input-form:focus {
  border: 1px solid colore.$nero;
}

.input-form:disabled {
  border: 1px solid colore.$grigio-chiaro2;
}

.input-form:disabled::placeholder {
  color: colore.$grigio-chiaro2;
}

.rosso::placeholder {
  color: colore.$rosso;
}

/* .bottone-continua{

} */

#gift-card {
  display: none; /* L'input scompare poiché la label farà il lavoro */
}

/* Crea una casella personalizzata */
#gift-card + label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  /* font-size: 16px; */
}

/* La label avrà questa casella personalizzata */
#gift-card + label::before {
  content: ""; /* All'inizio non è presenta la spunta quindi il content è vuoto */
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1.5px solid colore.$nero;
  border-radius: 4px;
  background-color: colore.$bianco;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
}

/* Colore di sfondo della casella cambiata quando la checkbox è checked */
#gift-card:checked + label::before {
  background-color: colore.$nero;
}

/* Il segno spunta quando la checkbox è checked  */
#gift-card:checked + label::after {
  content: "✔";
  position: absolute;
  left: 5px;
  bottom: 1px;
  color: colore.$bianco;
  font-size: 1em;
}

/* Aggiungi l'ombra rotonda quando si passa il mouse sopra la casella */
#gift-card + label:hover::before {
  box-shadow: 0 0 0 5px colore.$grigio-hover;
}

/* Parte radio buttons pagamento */
.radio-button {
  display: none;
}

/* Crea il pulsante radio personalizzato */
.radio-button + label {
  display: flex;
  gap: 5px;
  align-items: center; /* Per l'allineamento del testo della prima radio-button */
  position: relative;
  padding-left: 35px; /* Spazio per il cerchio */
  cursor: pointer;
  /* font-size: 1.125em; */
  transition: all 0.3s ease; /* Animazione dolce per l'hover */
}

/* Crea il cerchio del radio button */
.radio-button + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px; /* Aumentato per ingrandire il cerchio */
  height: 20px; /* Aumentato per ingrandire il cerchio */
  border: 1px solid colore.$grigio; /* Bordo nero per il cerchio */
  border-radius: 50%; /* Crea la forma rotonda */
  background-color: colore.$bianco;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

/* Quando il radio button è selezionato, cambia il colore e la dimensione */
.radio-button:checked + label::before {
  background-color: colore.$bianco; /* Lo sfondo rimane bianco */
  border-color: colore.$nero;
}

/* Aggiungi un cerchio interno nero quando il radio button è selezionato */
.radio-button:checked + label::after {
  content: "";
  position: absolute;
  /* Posizione cerchio interno */
  left: 5.4px;
  top: 5.4px;
  width: 12px; /* Dimensioni del cerchio interno */
  height: 12px; /* Dimensioni del cerchio interno */
  border-radius: 50%;
  background-color: colore.$nero; /* Colore nero per il cerchio interno */
}

/* Aggiungi un effetto di ombra quando si passa il mouse sopra */
.radio-button + label:hover::before {
  box-shadow: 0 0 0 5px colore.$grigio-hover; /* Ombra netta, senza sfocatura */
}

.bordo-gpay {
  width: 48px;
  border: 2px solid colore.$grigio;
  border-radius: 10px;
  padding: 3px;
}

.contenitore-CVV {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.fase-nonAttiva {
  display: none;
  transition: height 0.4s;
}

.disattivato {
  color: colore.$grigio-chiaro2;
}

#contenitore-bottone-lingua.checkout {
  align-items: flex-start;
}

.testo-verifica {
  color: colore.$grigio;
  margin-bottom: 20px;
}

/* .fase-attiva{
    display: 1;
    opacity: 1;
    height: 100%;
} */

.contenitore-img-domanda {
  display: flex;
  gap: 5px;
  align-items: center;
}

.testo-modifica {
  display: flex;
  gap: 5px;
  color: colore.$grigio;
  border-bottom: px solid transparent;
}

.contenitore-checkbox {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 20px 20px 20px 4px;
}

#contenitore-input-carta {
  display: none;
  /* display: flex; flex-wrap: wrap; */
}

#contenitore-radio-button {
  margin-bottom: 24px;
}

.margini-contenitore-radio {
  margin-bottom: 10px;
  padding: 0 4px 12px 4px;
}

#contenitore-radio-button:has(#carta-credito-debito:checked)
  ~ #contenitore-input-carta {
  display: block;
}

#paypal ~ label img {
  width: 60px;
  height: 16px;
}

#messaggio-paypal {
  display: none;
  font-family: helvetica;
  font-weight: 500;
}

.contenitore-testo-carta {
  width: 100%;
  margin-bottom: 24px;
}

.contenitore-input-img {
  position: relative;
  display: flex;
  align-items: center;
}

.contenitore-input-img img {
  width: 24px;
  height: 24px;
  z-index: 2;
  position: absolute;
  right: 10px;
}

.bordo-checkout {
  border-top: 1px solid colore.$grigio-chiaro1;
  margin-top: 16px;
  padding: 16px 0;
}

.contenitore-dati-checkout {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.contenitore-dati-checkout p {
  color: colore.$grigio;
  font-family: helvetica;
  font-weight: 400;
}

.contenitore-img-piccolo {
  width: 60px;
  height: 60px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
