@use "variables" as colore;

.popup-carrello {
  position: absolute;
  top: 96px; // 100%
  border-radius: 0 0 20px 20px;
  padding: 24px;
  z-index: 20;
  background-color: colore.$bianco;
  right: 48px;
  width: 410px;
  /* height: 300px; */
  opacity: 1; //-1
  transition:
    height 1s,
    opacity 0.5s;
}

.contenitore-popup-carrello {
  width: 100%;
}

.margini-popup {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;

  .aggiunta-carrello {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;

    h2 {
      font-size: 1em;
      font-weight: 500;
    }
  }

  .icon-button.exit {
    background-color: colore.$grigio-bianco;

    &:hover {
      background-color: colore.$grigio-chiaro2;
    }
  }
}

.dettagli-scarpa-popup {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;

  .contenitore-img-scarpa-popup {
    width: 100px;
    height: 100px;
    background-color: colore.$grigio-bianco;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contenitore-testo-scarpa-popup {
    width: 70%;
    margin-left: 10px;
    height: 100%;

    .titolo-scarpa-popup {
      font-size: 1.125em;
    }

    p {
      font-weight: 400;
      margin: 5px 0;
      color: colore.$grigio;

      &.prezzo-popup {
        color: colore.$nero;
      }
    }
  }
}

.contenitore-bottoni-popup {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  //   gap: 3px;
  /* margin-bottom: 10px; */
}

// renamed .bottone-header in .icon-button  and moved .bottone-grande in styles.scss
