<!-- Popup carrello -->
<!-- NOTA: E' sopra di tutti, pure delle voci dell'header che se faccio hover si mette sotto il blur-->
<div id="popup-carrello">
  <div class="contenitore-popup-carrello">
    <div class="margini-popup">
      <!-- Aggiunto al carrello -->
      <div class="aggiunta-carrello">
        <img src="MATERIALE/Icon/png/circle.png" alt="" />
        <h2>Aggiunto al carrello</h2>
      </div>
      <button id="btn-mini-esci" class="bottone-header">
        <img src="MATERIALE/Icon/svg/chiudi.svg" alt="" />
      </button>
    </div>

    <!-- Dettagli scarpa popup-carrello -->
    <div class="dettagli-scarpa-popup">
      <div class="contenitore-img-scarpa-popup">
        <img src="MATERIALE/Scarpa/4.jpg" alt="" />
      </div>
      <div class="contenitore-testo-scarpa-popup">
        <h4 class="titolo-scarpa-popup font-1">Nike Dunk Low Retro</h4>
        <p class="font-1">Scarpa - Uomo</p>
        <p class="font-1" id="ntaglia"></p>
        <p class="prezzo-popup">119.99 €</p>
      </div>
    </div>
    <div class="contenitore-bottoni-popup">
      <!-- Bottoni "Visualizza Carrello" e "Pagamento" -->
      <button class="bottone-grande grande preferiti popup" disabled></button
      ><button class="bottone-grande grande carrello popup" disabled>
        Pagamento
      </button>
    </div>
  </div>
</div>
