<!-- Mettere un div che dà 15px di spazio verticale -->
<div class="spazio-wall-header"></div>
<header
  class="page-header padding-principale"
  [ngClass]="{ sticky: isHeaderSticky }"
>
  <!-- Mettere interpolazione -->
  <h1 class="ph-title">Lista Scarpe ({{ productList.length }})</h1>

  <div class="fd-btn-ctn">
    <button
      aria-controls="left-nav"
      (click)="hideSidebar()"
      [attr.aria-expanded]="isSidebarVisible"
      class="icon-button filter-ctn"
    >
      <span class="filter-text" *ngIf="isSidebarVisible">Nascondi filtri</span>
      <span class="filter-text" *ngIf="!isSidebarVisible">Mostra filtri</span>

      <div>
        <img src="images/Icon/svg/icon-filters.svg" alt="" />
      </div>
    </button>
    <div class="dropdown-ctn">
      <button class="icon-button" (click)="showSortList()">
        <span class="text">Ordina per</span><span class="selected-text"></span>
        <!-- (click)="toggleArrow()" -->
        <div
          class="icon-button arrow dropdown"
          [ngClass]="{ up: isSortListVisible }"
        >
          <img src="images\Icon\svg\freccia-giu.svg" alt="down arrow icon" />
        </div>
      </button>

      <div
        class="sort-list-ctn"
        [ngStyle]="{ opacity: isSortListVisible ? '1' : '0' }"
      >
        <div class="sort-option">In evidenza</div>
        <div class="sort-option">Novità</div>
        <div class="sort-option">Prezzo: alto-basso</div>
        <div class="sort-option">Prezzo: basso-alto</div>
      </div>
    </div>
  </div>

  <!-- Mettere 'nascondi i filtri' e 'Ordina per' -->
</header>

<main class="content-wrapper">
  <!-- left: isSidebarVisible ? '0' : '-260px',     [ngStyle]="{
      position: isSidebarVisible ? 'sticky' : 'absolute',
    }"-->
  <aside class="left-nav-ctn" [ngClass]="{ visible: isSidebarVisible }">
    <div class="ln-categories-ctn">
      <a href="#" class="categories-item">Lifestyle</a>
      <a href="#" class="categories-item">Jordan</a>
      <a href="#" class="categories-item">Running</a>
      <a href="#" class="categories-item">Basketball</a>
      <a href="#" class="categories-item">Calcio</a>
      <a href="#" class="categories-item">Allenamento e palestra</a>
      <a href="#" class="categories-item">Skateboard</a>
      <a href="#" class="categories-item">Golf</a>
      <a href="#" class="categories-item">Tennis</a>
      <a href="#" class="categories-item">Camminata</a>
      <a href="#" class="categories-item">Nike by you</a>
    </div>

    <div class="ln-filters-ctn">
      <div
        class="filter-group"
        *ngFor="let category of categories"
        [ngClass]="{ expanded: isSidebarVisible }"
      >
        <div class="fg-trigger" (click)="toggleAccordion(category.id)">
          {{ category.name }}

          <div
            class="icon-button arrow"
            [ngClass]="{ up: accordionStates[category.id] }"
          >
            <img src="images\Icon\svg\freccia-giu.svg" alt="down arrow icon" />
          </div>
        </div>

        <div
          class="fg-content"
          [ngClass]="{ open: accordionStates[category.id] }"
        >
          {{ category.content }}
        </div>
      </div>
    </div>
    <!-- DOPO -->
  </aside>

  <section class="shoe-list-ctn" [ngClass]="{ expanded: !isSidebarVisible }">
    <div *ngFor="let product of productList" class="product-card">
      <!-- potresti mettere un div con classe product-body -->

      <a href="#" class="link-overlay"></a>
      <!-- container per la immagine della card -->
      <div class="pc-img-ctn">
        <img src="{{ product.immagine }}" alt="Image of the shoe" />
        <!-- Modificare di nuovo le immagini -->
      </div>

      <!-- container per le informazioni della card -->
      <!-- <div class="pc-info-ctn">
        <p>{{ product.nome }}</p>
        <p class="price">
          {{ product.prezzo | currency: "EUR" : "code" : "1.2-2" }}
        </p>
      </div> -->
      <!-- Aggiungere sezioni "Best seller/ Materiali Riciclati" e "colori" -->
      <div class="testo-scarpa">
        <div class="nome-tipo-scarpa">
          <h4>{{ product.nome }}</h4>
          <h5>Scarpa - Uomo</h5>
        </div>
        <div class="prezzo-scarpa">
          <h3>{{ product.prezzo | number: "1.2-2" }} €</h3>
        </div>
      </div>
    </div>
    <div></div>
  </section>
</main>
