/* ---------------------------------- */
/* 1. STILI DI BASE E LAYOUT */
/* ---------------------------------- */
@use "variables" as colore;
:host {
  /* Il componente principale non è fisso, solo l'header lo è */
  display: block;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #fff;
  color: #111;
}

main {
  display: flex;
  margin-top: 20px;

  padding: 0 40px;
}

/* ---------------------------------- */
/* 2. HEADER DINAMICO */
/* ---------------------------------- */
.page-header {
  position: relative; /* Posizione iniziale */
  height: 51px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   padding-bottom: 15px;
  transition: all 0.3s ease;
  background: white;
  //   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Ombra leggera */
  z-index: 9;
}

.arrow {
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.arrow.up {
  transform: rotate(180deg);
}

.ph-title {
  flex: 1 1 0%;
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.3s ease;
  line-height: 1.3;
  padding-bottom: 2px;
}

// Filter-Dropdown-button-container
.fd-btn-ctn {
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
}

.filter-ctn {
  padding-right: 25px;
}

.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  //   border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  font-size: 1rem;

  .filter-text {
    font-size: 1rem;
    padding-right: 8px;
  }

  .dropdown {
    margin-left: 8px;
  }
}

.dropdown-ctn {
  position: relative;
  max-width: 300px;
  .sort-list-ctn {
    position: absolute;
    top: 100%;
    right: 0px;
    opacity: 0;
    z-index: -1;
    border-radius: 0px 0px 0px 20px;
    background-color: colore.$bianco;
    padding: 24px 28px 15px 0;

    pointer-events: all;

    .sort-option {
      width: 100%;
      display: block;
      padding-left: 24px;
      white-space: nowrap;
      background: transparent;
      text-align: right;
      line-height: 1.6;
      cursor: pointer;

      &:hover {
        color: colore.$grigio;
      }
    }
  }
}

//.text e .text da mettere in futuro

/* Stato Sticky: CLASSE AGGIUNTA TRAMITE [ngClass] */
.page-header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: flex-start;
}

.page-header.sticky .ph-title {
  font-size: 1.2rem; /* Riduzione font */
}

/* ---------------------------------- */
/* 3. GRIGLIA PRODOTTI E FILTRI */
/* ---------------------------------- */

.content-wrapper {
  width: 100%;
  position: relative;
}

// Left navbar (aside) section DOOPO
.left-nav-ctn {
  // Per nasconderlo posizione -260px
  position: sticky; /* Sidebar che segue lo scroll */
  top: 80px; /* Lascia spazio per l'header sticky */
  margin-left: -255px;
  visibility: hidden;
  //   align-self: flex-start;
  padding-left: 8px;
  padding-right: 20px; /* evita che lo scroll copra il contenuto */
  padding-bottom: 1em;
  flex-shrink: 0;

  /* NEW: abilitare lo scroll verticale limitando l'altezza */
  max-height: calc(
    100vh - 100px
  ); /* 100px = header + eventuale margine; aggiusta se necessario */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; /* scorrimento fluido su touch */

  transition:
    margin-left 0.3s ease-in-out,
    visibility 0.3s ease-in;
}

.left-nav-ctn.visible {
  margin-left: 0;
  visibility: visible;
}

.ln-categories-ctn {
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;

  .categories-item {
    font-weight: 500;
    white-space: normal;
    word-wrap: break-word;
    padding-bottom: 15px;
    padding-right: 1.1em;
  }
}

.ln-filters-ctn {
  margin: 0;
  border-top: solid 1px colore.$grigio-chiaro1;

  .filter-group {
    width: 100%;
    display: block;
    text-align: left;
    padding: 0;
    line-height: 28px;
    visibility: hidden;
    transition: visibility 150ms;

    border-bottom: solid 1px colore.$grigio-chiaro1;

    // The trigger to show the content of the accordion
    .fg-trigger {
      display: flex;
      justify-content: space-between;
      padding: 12px 0;
      width: 98%;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      position: relative;
    }

    .fg-content {
      max-height: 0;
      overflow: hidden;
      transition:
        max-height 0.3s ease-in-out,
        padding 0.3s ease-in;
      padding-top: 0;
      padding-bottom: 0;
    }

    .fg-content.open {
      max-height: 500px; /* un valore più grande dell'altezza del contenuto */
      padding: 15px 0;
    }
  }

  .filter-group.expanded {
    visibility: visible;
  }
}

// Da modificare
.ad-icon {
  img {
    max-width: 100%;
    display: block;
  }
}

// End Left navbar (aside) section

.shoe-list-ctn {
  display: grid;
  /* 🎯 Griglia 3 colonne */
  grid-template-columns: repeat(3, 1fr);
  //   max-width: 1100px;
  //   gap: 16px;

  //   transform: translateX(40px);
  //   transition: transform 0.4s ease-in-out;
  padding-left: 40px;
  transition: padding-left 0.3s ease-in-out;
  max-width: 1920px;
  //   padding: 0 48px;
  //   margin-left: 40px;
  position: relative;
}

.product-card {
  position: relative;
  margin-bottom: 18px;
  padding: 0 8px 15px;
  //   width: 33.333333%;
  max-width: 592px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  font-weight: 500;

  .pc-img-ctn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    // overflow-y: hidden;
    background-color: colore.$grigio-bianco;
    img {
      object-fit: cover;
      aspect-ratio: 1 / 1;
    }
  }
}

// .pc-info-ctn
// Globalizzare questa sezione
.pc-body {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  height: 100%;
}

.pc-info {
  .pc-best-seller {
    color: colore.$arancione-scuro;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 8px;
  }
  h4 {
    font-size: 1rem;
    font-weight: 500;
    height: 24px;
  }

  h5 {
    font-size: 16px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    // height: 24px;
    color: colore.$grigio;
  }
}

.pc-price {
  padding-top: 10px;
  height: 32px;
  margin-top: 10px;
  margin-bottom: 45px;

  h3 {
    font-size: 1em;
    font-weight: 500;
    height: 24px;
  }
}
