<!-- Mettere un div che dà 15px di spazio verticale -->
<div class="spazio-wall-header"></div>
<header
  class="page-header padding-principale"
  [ngClass]="{ sticky: isHeaderSticky }"
>
  <!-- Mettere interpolazione -->
  <h1 class="title">Scarpe Nike Air Force 1 ({{ productList.length }})</h1>

  <!-- Mettere 'nascondi i filtri' e 'Ordina per' -->
</header>

<main>
  <aside class="left-nav-ctn">
    <div class="ln-categories-ctn">
      <a href="" class="categories-item">Lifestyle</a>
      <a href="" class="categories-item">Jordan</a>
      <a href="" class="categories-item">Running</a>
      <a href="" class="categories-item">Basketball</a>
      <a href="" class="categories-item">Calcio</a>
      <a href="" class="categories-item">Allenamento e palestra</a>
      <a href="" class="categories-item">Skateboard</a>
      <a href="" class="categories-item">Golf</a>
      <a href="" class="categories-item">Tennis</a>
      <a href="" class="categories-item">Camminata</a>
      <a href="" class="categories-item">Nike by you</a>
    </div>
    <hr />
    <div class="ln-filters-ctn">
      <p>Filtri:</p>
      <ul>
        <li>Taglio basso</li>
        <li>Profilo medio</li>
        <li>Taglio alto</li>
      </ul>
    </div>

    <!-- DOPO -->
  </aside>

  <section class="shoe-list-ctn">
    <!-- <div> -->
    <div *ngFor="let product of productList" class="product-card">
      <!-- potresti mettere un div con classe product-body -->

      <a href="#" class="pc-link-overlay"></a>
      <!-- container per la immagine della card -->
      <div class="pc-img-ctn">
        <img src="{{ product.immagine }}" alt="Image of the shoe" />
        <!-- Modificare di nuovo le immagini -->
      </div>

      <!-- container per le informazioni della card -->
      <!-- <div class="pc-info-ctn">
        <p>{{ product.nome }}</p>
        <p class="price">
          {{ product.prezzo | currency: "EUR" : "code" : "1.2-2" }}
        </p>
      </div> -->
      <!-- Aggiungere sezioni "Best seller/ Materiali Riciclati" e "colori" -->
      <div class="testo-scarpa">
        <div class="nome-tipo-scarpa">
          <h4>{{ product.nome }}</h4>
          <!-- <h4> Nike Dunk Low Retro </h4> -->
          <h5>Scarpa - Uomo</h5>
        </div>
        <div class="prezzo-scarpa">
          <h3>{{ product.prezzo | number: "1.2-2" }} €</h3>
        </div>
        <!-- <h3>119,99 €</h3> -->
      </div>
    </div>
    <div></div>
    <!-- </div> -->

    <!-- <div class="contenitore-prodotto-li">
              <a routerLink="/shoes" (shoeClick)="onShoeClick($event)"
                ><div class="contenitore-scarpa">
                  <div class="contenitore-img-scarpa">
                    <img src="{{ shoe.immagine }}" alt="Image of the shoe" />
                    
                  </div>
                  <div class="testo-scarpa">
                    <div class="nome-tipo-scarpa">
                      <h4>{{ shoe.nome }}</h4>
                       
                      <h5>Scarpa - Uomo</h5>
                    </div>
                    <div class="prezzo-scarpa">
                      <h3>{{ shoe.prezzo | number: "1.2-2" }} €</h3>
                    </div>
                    
                  </div>
                </div></a
              >
            </div> -->
  </section>
</main>
