<p>order-confirmation works!</p>
<div class="container-principale">
  <div class="container-logo">
    <img src="MATERIALE/Logo/logo.png" alt="" />
  </div>
  <div class="container-messaggio">
    <h1 class="titolo-messaggio">Grazie per il tuo acquisto!</h1>
    <p class="contenuto-messaggio">
      Il tuo ordine è stato ricevuto. Preparati a fare la differenza.
    </p>
    <p class="contenuto-messaggio slogan">JUST DO IT.</p>
    <a href="homepage.html" class="bottone-grande home"
      >Continua a fare shopping</a
    >
  </div>
</div>
