<div class="container-principale">
  <div class="container-messaggio">
    <h1 class="titolo-messaggio font-1">Grazie per il tuo acquisto!</h1>
    <p class="contenuto-messaggio">
      Il tuo ordine è stato ricevuto. Preparati a fare la differenza.
    </p>
    <div class="container-logo">
      <img src="images/Logo/logo.png" alt="Logo of the site" />
    </div>
    <p class="contenuto-messaggio slogan">JUST DO IT.</p>
    <a routerLink="" class="bottone-grande home font-1"
      >Continua a fare shopping</a
    >
  </div>
</div>
