@use "variables" as colore;

/* Parte thank-you-page.html */
/* Sezione della pagina */
.container-principale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 20px;
  position: relative;
  gap: 30px;
}

.container-logo {
  //   width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;

  img {
    height: 100%;
    object-fit: cover;
  }
}

/* Contenitore del messaggio */
.container-messaggio {
  background: colore.$grigio-chiaro2;
  padding: 40px;
  /* margin-top: 20px; */
  border-radius: 8px;
  max-width: 500px;
}

/* Messaggio */
.titolo-messaggio {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.contenuto-messaggio {
  font-size: 1.2rem;
  margin-bottom: 50px;
  //   line-height: 1.5;
}

.contenuto-messaggio.slogan {
  font-family: "Nike Futura ND";
  font-size: 3em;
}

@media screen and (max-width: 959px) {
  .container-principale {
    padding-top: 70px;
  }
}
