<main>
  <!-- Contenitore principale -->
  <div class="padding-principale contenitore-scarpa-testo">
    <div class="contenitore-content-scarpa">
      <!-- Piccole immagini scarpa -->
      <div class="contenitore-mini-img-scarpa">
        <div class="mini-img-scarpa">
          <img src="images/Scarpa/4.jpg" alt="" />
          <div class="oscura"></div>
        </div>
        <div class="mini-img-scarpa">
          <video src="images/Scarpa/video.mp4" alt=""></video>
          <div class="oscura"></div>
        </div>
        <div class="mini-img-scarpa">
          <img src="images/Scarpa/7.jpg" alt="" />
          <div class="oscura"></div>
        </div>
        <div class="mini-img-scarpa">
          <img src="images/Scarpa/1.jpg" alt="" />
          <div class="oscura"></div>
        </div>
        <div class="mini-img-scarpa">
          <img src="images/Scarpa/3.jpg" alt="" />
          <div class="oscura"></div>
        </div>
        <div class="mini-img-scarpa">
          <img src="images/Scarpa/2.jpg" alt="" />
          <div class="oscura"></div>
        </div>
        <div class="mini-img-scarpa">
          <img src="images/Scarpa/6.jpg" alt="" />
          <div class="oscura"></div>
        </div>
        <div class="mini-img-scarpa">
          <img src="images/Scarpa/8.jpg" alt="" />
          <div class="oscura"></div>
        </div>
        <div class="mini-img-scarpa">
          <img src="images/Scarpa/5.jpg" alt="" />
          <div class="oscura"></div>
        </div>
        <div class="mini-img-scarpa">
          <img src="images/Scarpa/9.jpg" alt="" />
          <div class="oscura"></div>
        </div>
      </div>

      <div class="contenitore-img-video-grosso">
        <!-- Mettere il div con testo "Valutazione alta" ed il div contenente il video che sta sotto l'immagine -->
        <div class="contenitore-video">
          <div *ngIf="false">
            <video
              class="video-scarpa-grossa"
              src="images/Scarpa/video.mp4"
              autoplay
              muted
              loop
            ></video>
          </div>
        </div>
        <!-- Immagine grande scarpa -->
        <div class="contenitore-immagine-scarpa">
          <img
            class="immagine-scarpa-grossa"
            src="{{ this.selectedProduct.immagine }}"
            alt="Image of the shoe"
          />
          <!-- Bottoni slider -->
          <div class="contenitore-mini-bottone-slider">
            <button class="icon-button mini-bottone-slider">
              <img src="images/Icon/svg/sinistra.svg" alt="" />
            </button>
            <button class="icon-button mini-bottone-slider">
              <img src="images/Icon/svg/destra.svg" alt="" />
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Dettagli scarpa -->
    <div class="dettagli-scarpa">
      <!-- Titolo scarpa -->
      <div class="titolo-scarpa">
        <div class="nome-tipo-scarpa">
          <h1>Nike Dunk Low Retro</h1>
          <h2>Scarpa - Uomo</h2>
        </div>
        <div class="prezzo-scarpa"><h3>119,99 €</h3></div>
      </div>

      <!-- Titolo taglie e misure -->
      <div class="taglia-misura">
        <span>Seleziona la taglia/misura</span>
        <span
          ><img src="images/Icon/svg/misura.svg" alt="" /> Guida alle taglie e
          alle misure</span
        >
      </div>

      <!-- Mettere uno span che ha bordo rosso su taglie-misure che avverte di inserire una taglia -->
      <!-- Taglie e misure -->
      <div class="taglie-misure">
        <div class="mini-taglia">
          <input
            type="radio"
            name="talgie-scarpe"
            value="38"
            id="taglia-1"
          /><label for="taglia-1">EU 38</label>
        </div>
      </div>
      <!-- Span messaggio "Selezionare una scarpa" -->
      <span id="no-scarpa"></span>

      <!-- Bottoni "Aggiungi al carrello" e "Aggiungi ai preferiti" -->
      <div class="contenitore-bottoni-grandi">
        <button id="bottone" class="bottone-grande grande carrello">
          Aggiungi al carrello
        </button>
        <button class="bottone-grande grande preferiti">
          Aggiungi ai preferiti
          <img src="images/Icon/svg/cuore.svg" alt="" />
        </button>
      </div>
      <!-- Mettere altri dettagli della scarpa -->
      <div></div>
    </div>
  </div>
  <div class="spazio"></div>
  <!-- Forse meglio cerare un componente slider riutilizzabile anche nel componente home -->
  <div class="contenitore-slider slider padding-principale">
    <div class="contenitore-titolo-bottoni">
      <h2 class="titolo-slider">Potrebbe piacerti Anche</h2>
      <div class="contenitore-bottoni-slider">
        <!-- Lavora qua -->
        <button class="bottone-slider sinistra" disabled>
          <img
            src="images/Icon/svg/sinistra.svg"
            alt="Bottone direzione-sinistra"
          />
        </button>
        <button class="bottone-slider destra">
          <img
            src="images/Icon/svg/destra.svg"
            alt="Bottone direzione-destra"
          />
        </button>
      </div>
    </div>

    <ul>
      <!-- Forse togliere il div con classe "nome-tipo-scarpa" -->
      <!-- 1° scarpa -->
      <li>
        <div class="contenitore-prodotto-li">
          <a href="scarpa.html"
            ><div class="contenitore-scarpa">
              <div class="contenitore-img-scarpa">
                <img src="images/Home-page/scarpa_1.jpg" alt="" />
              </div>
              <div class="testo-scarpa">
                <div class="nome-tipo-scarpa">
                  <h4>Nike Dunk Low Retro</h4>
                  <h5>Scarpa - Uomo</h5>
                </div>
                <div class="prezzo-scarpa"><h3>119,99 €</h3></div>
              </div>
            </div></a
          >
        </div>
      </li>
      <!-- 2° scarpa -->
      <li>
        <div class="contenitore-prodotto-li">
          <a href="scarpa.html"
            ><div class="contenitore-scarpa">
              <div class="contenitore-img-scarpa">
                <img src="images/Home-page/scarpa_2.jpg" alt="" />
              </div>
              <div class="testo-scarpa">
                <div class="nome-tipo-scarpa">
                  <h4>Nike Air Force 1 '07</h4>
                  <h5>Scarpa - Uomo</h5>
                </div>
                <div class="prezzo-scarpa"><h3>119,99 €</h3></div>
              </div>
            </div></a
          >
        </div>
      </li>
      <!-- 3° scarpa -->
      <li>
        <div class="contenitore-prodotto-li">
          <a href="scarpa.html"
            ><div class="contenitore-scarpa">
              <div class="contenitore-img-scarpa">
                <img src="images/Home-page/scarpa_3.jpg" alt="" />
              </div>
              <div class="testo-scarpa">
                <div class="nome-tipo-scarpa">
                  <h4>Nike Dunk Low</h4>
                  <h5>Scarpa - Uomo</h5>
                </div>
                <div class="prezzo-scarpa"><h3>119,99 €</h3></div>
              </div>
            </div></a
          >
        </div>
      </li>
      <!-- 4° scarpa -->
      <li>
        <div class="contenitore-prodotto-li">
          <a href="scarpa.html"
            ><div class="contenitore-scarpa">
              <div class="contenitore-img-scarpa">
                <img src="images/Home-page/scarpa_4.jpg" alt="" />
              </div>
              <div class="testo-scarpa">
                <div class="nome-tipo-scarpa">
                  <h4>Nike Air Force 1 '07</h4>
                  <h5>Scarpa - Uomo</h5>
                </div>
                <div class="prezzo-scarpa"><h3>119,99 €</h3></div>
              </div>
            </div></a
          >
        </div>
      </li>
      <!-- 5° scarpa -->
      <li>
        <div class="contenitore-prodotto-li">
          <a href="scarpa.html"
            ><div class="contenitore-scarpa">
              <div class="contenitore-img-scarpa">
                <img src="images/Home-page/scarpa_5.jpg" alt="" />
              </div>
              <div class="testo-scarpa">
                <div class="nome-tipo-scarpa">
                  <h4>Air Jordan 1 Mid</h4>
                  <h5>Scarpa - Donna</h5>
                </div>
                <div class="prezzo-scarpa"><h3>199,99 €</h3></div>
              </div>
            </div></a
          >
        </div>
      </li>
      <!-- 6° scarpa -->
      <li>
        <div class="contenitore-prodotto-li">
          <a href="scarpa.html"
            ><div class="contenitore-scarpa">
              <div class="contenitore-img-scarpa">
                <img src="images/Home-page/scarpa_6.jpg" alt="" />
              </div>
              <div class="testo-scarpa">
                <div class="nome-tipo-scarpa">
                  <h4>Nike Air Max Plus</h4>
                  <h5>Scarpa - Ragazzo/a</h5>
                </div>
                <div class="prezzo-scarpa"><h3>119,99 €</h3></div>
              </div>
            </div></a
          >
        </div>
      </li>
      <!-- 7° scarpa -->
      <li>
        <div class="contenitore-prodotto-li">
          <a href="scarpa.html"
            ><div class="contenitore-scarpa">
              <div class="contenitore-img-scarpa">
                <img src="images/Home-page/scarpa_7.jpg" alt="" />
              </div>
              <div class="testo-scarpa">
                <div class="nome-tipo-scarpa">
                  <h4>Nike Dunk Low</h4>
                  <h5>Scarpa - Uomo</h5>
                </div>
                <div class="prezzo-scarpa"><h3>119,99 €</h3></div>
              </div>
            </div></a
          >
        </div>
      </li>
      <!-- 8° scarpa -->
      <li>
        <div class="contenitore-prodotto-li">
          <a href="scarpa.html"
            ><div class="contenitore-scarpa">
              <div class="contenitore-img-scarpa">
                <img src="images/Home-page/scarpa_8.jpg" alt="" />
              </div>
              <div class="testo-scarpa">
                <div class="nome-tipo-scarpa">
                  <h4>Nike Dunk Low Next Nature</h4>
                  <h5>Scarpa - Donna</h5>
                </div>
                <div class="prezzo-scarpa"><h3>119,99 €</h3></div>
              </div>
            </div></a
          >
        </div>
      </li>
    </ul>
  </div>
  <div class="spazio"></div>
</main>
