@use "variables" as colore;

/* Mini quadratini immagini */
.thumbnail-gallery-ctn {
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  overflow-y: scroll;
  overscroll-behavior: none;
  min-width: 60px;
  min-height: 60px;
  height: 100%;
  gap: 8px;
  scroll-behavior: smooth;
}

.thumbnail {
  width: 60px;
  height: 60px;
  position: relative;
  background-color: colore.$grigio-bianco;
  border-radius: 4px;

  img,
  video {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }

  video {
    object-fit: cover;
  }

  .oscura {
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    background-color: colore.$oscura;
    border-radius: 4px;
    width: 100%;
    height: 100%;
  }

  &:hover .oscura {
    opacity: 1;
  }

  &.selected .oscura {
    opacity: 1;
  }
}

.contenitore-content-scarpa {
  grid-column: 2 / 8;
  grid-row: 1/3;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 16px;
  padding-left: 48px;
  padding-top: 48px;
  margin-left: 8px;
  /* height: 100%; */
  max-height: 735px;
  min-height: 455px;
}

.contenitore-content-scarpa.sticky {
  position: sticky;

  top: 48px;
  padding-top: 0;
  //   align-content: flex-start;
  justify-content: flex-end;
}

.contenitore-img-video-grosso {
  max-width: 100%;
  position: relative;
  overflow: hidden;
  max-height: 687px;
  border-radius: 8px;
  background-color: colore.$grigio-bianco;
}

.contenitore-immagine-scarpa {
  width: 100%;
  max-width: 540px;
  //   height: 100%;
  aspect-ratio: 1 / 1.25;
  /* min-width: 455px;
    min-height:450px; */
  position: relative;
}

.contenitore-video {
  display: block;
  max-width: 100%;
  /* min-width: 455px;
    min-height:450px; */
  position: relative;
}

.video-scarpa-grossa {
  max-width: 100%;
  max-height: 100%;
  /* border-radius: 8px; */
}

.immagine-scarpa-grossa {
  width: 100%;
  // aspect-ratio: 1 / 1.25;
  //   max-height: 100%;
  // Centrare
  /* border-radius: 8px; */
  //   position: relative;
}

.contenitore-mini-bottone-slider {
  position: absolute;
  bottom: 60px;
  right: 35px;
  display: flex;
  gap: 8px;
}

.mini-bottone-slider {
  background-color: colore.$bianco;
}

.mini-bottone-slider:active {
  background-color: colore.$grigio-chiaro2;
}

.spazio {
  margin-top: 48px;
}

.spazio-wall-header {
  margin-top: 15px;
}

.contenitore-scarpa-testo {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  overflow: hidden;
  /* max-height: 669px; */
  /* align-items: center; */
  position: relative;
  overflow: clip;
}

.dettagli-scarpa {
  //   position: sticky;
  width: 400px;
  height: 100%;
  padding-top: 48px;
  padding-left: 24px;
  grid-column: 8 / span 3;
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.nome-tipo-scarpa {
  h1 {
    font-size: 1.5em;
    font-weight: 500; // font-weight: lighter;
    height: 30px;
    margin-bottom: 5px;
  }
  h2 {
    font-size: 1em;
    font-weight: 400;
    height: 30px;
    color: colore.$grigio;
  }
  h4 {
    font-size: 1em;
    font-weight: 500;
    height: 24px;
  }

  h5 {
    font-size: 1em;
    font-weight: 400;
    height: 24px;
    color: colore.$grigio;
  }
}

.prezzo-scarpa {
  padding-top: 8px;
  height: 32px;
  //   margin-bottom: 32px;

  h3 {
    font-size: 1em;
    font-weight: 500;
    height: 24px;
  }
}

#colorway-picker-container {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
  column-gap: 4px;
  margin: 32px 0;

  .colorway-link {
    position: relative;
    margin-bottom: 10px;

    .colorway-img-ctn {
      position: relative;
      display: inline-block;
      border-radius: 5px;
      border: 1.5px solid colore.$bianco;
      background-color: colore.$grigio-bianco;

      .colorway-img {
        min-width: 70px;
        min-height: 70px;
        width: 70px;
        height: 70px;
        border-radius: 5px;
      }

      &:hover {
        border-color: colore.$nero;
      }
    }

    .colorway-img-ctn.active {
      border-color: colore.$nero;
    }
  }
}

.taglia-misura {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  /* width: 100%; */

  span {
    width: 40%;
    display: flex;
    align-items: center;
    gap: 5px;
    color: colore.$nero;

    &.warning {
      color: colore.$rosso;
    }
  }
}

.taglie-misure {
  display: grid;
  //   grid-template: repeat(5, 1fr) / repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  //   height: 300px;
  height: auto;
  gap: 7px;
  padding-top: 12px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid transparent;
  //   grid-auto-rows: 48px;

  &.warning {
    border-color: colore.$rosso;
  }
}

.mini-taglia {
  grid-column: span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 48px;
  border: 1px solid colore.$grigio-chiaro1;
  border-radius: 4px;

  &:hover {
    border: 1px solid colore.$nero;
  }

  input[type="radio"] {
    height: 0;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
    z-index: -1;
  }

  label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}

/* 
evento click del contenitore delle taglie con pseudoclasse :has() */

.mini-taglia:has(input[type="radio"]:checked) {
  border: 1px solid colore.$nero;
  border-radius: 4px;
}

/* Alternative of this option with :has(): */
// .mini-taglia input[type="radio"]:checked ~ label {
//   border: 1px solid colore.$nero;
//   border-radius: 4px;
// }

#no-scarpa {
  margin-bottom: 16px;
  color: colore.$rosso;
}

.contenitore-bottoni-grandi {
  width: 100%;
  text-align: center;
}

// .bottone-grande moved in styles.scss

.link-btn {
  font-weight: bold;
  box-shadow: inset 0 -1px 0 0 colore.$nero;
  border-bottom: 1.5px solid colore.$nero;
  &:hover {
    color: colore.$grigio;
    box-shadow: inset 0 -1px 0 0 colore.$grigio;
    border-bottom: 1.5px solid colore.$grigio;
  }
}

.product-description-ctn {
  font-family: "Arimo", sans-serif;
  //   font-weight: bold;
  font-size: 1em;
  line-height: 1.6;

  padding-top: 28px;

  * {
    font-family: inherit;
    font-size: inherit;
  }

  ul {
    list-style: disc;
    li {
      margin-left: 27px;
      padding-bottom: 4px;
    }
  }
}

.product-info-accordions {
  font-family: "Arimo", sans-serif; // da spostare
  margin-bottom: 32px;
  * {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }

  .accordion-item {
    border-bottom: 1px solid colore.$grigio-chiaro1;

    summary {
      font: 500 1.25rem;
      list-style: none;
      cursor: pointer;
      position: relative;
      background: transparent;
      padding: 30px 0px;
    }

    .dp-button.arrow {
      transition: transform 0.3s ease;
      display: inline-block;
    }

    .ai-content-wrapper {
      padding-bottom: 30px;
      line-height: 1.6;
      // text-align: start;
      max-height: 0;
      overflow: hidden;
      opacity: 0;

      transition:
        max-height 0.4s cubic-bezier(0, 1, 0, 1),
        opacity 0.2s ease-out;

      a {
        font-weight: 500;
      }
    }
    // Quando il padre (details) ha l'attributo [open]
    &[open] {
      .dp-button.arrow {
        transform: rotate(180deg); // 🎯 Ruota la freccia di 180 gradi
      }

      .ai-content-wrapper {
        max-height: 500px; /* Un valore superiore all'altezza del testo */
        opacity: 1;
        // padding: 15px 0;
        height: auto;

        animation: slideDown 0.3s ease-out;
      }
    }
  }

  .ai-summary-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;

    .sm-text {
      font-weight: 500;
      font-size: 1.3rem;
    }
  }

  ul {
    list-style: disc;
    li {
      margin-left: 27px;
      padding-bottom: 4px;
    }
  }
}

// Forse da rimuovere
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// O da rinominare o da globalizzare su styles.scss
.dp-button {
  display: flex;
  justify-content: center;
  align-items: center;
  //   border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  font-size: 1rem;
}

.arrow {
  display: inline-block;
  font-size: 30px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
