@use "variables" as colore;

/* Mini quadratini immagini */
.contenitore-mini-img-scarpa {
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  overflow-y: scroll;
  overscroll-behavior: none;
  min-width: 60px;
  min-height: 60px;
  height: 500px;
  gap: 8px;
  scroll-behavior: smooth;
}

.mini-img-scarpa {
  width: 60px;
  height: 60px;
  position: relative;
}

.mini-img-scarpa:hover .oscura {
  opacity: 1;
}

.mini-img-scarpa img,
.mini-img-scarpa video {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.mini-img-scarpa video {
  object-fit: cover;
}

.oscura {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  background-color: colore.$oscura;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

.contenitore-content-scarpa {
  grid-column: 2 / 8;
  grid-row: 1/3;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  padding-left: 48px;
  padding-top: 48px;
  margin-left: 8px;
  /* height: 100%; */
  max-height: 735px;
  min-height: 455px;
}

.contenitore-content-scarpa.sticky {
  position: sticky;

  top: 48px;
  padding-top: 0;
  //   align-content: flex-start;
  justify-content: flex-end;
}

.contenitore-img-video-grosso {
  max-width: 100%;
  position: relative;
  overflow: hidden;
  max-height: 687px;
  border-radius: 8px;
  background-color: colore.$grigio-bianco;
}

.contenitore-immagine-scarpa {
  width: 100%;
  max-width: 540px;
  height: 100%;
  /* min-width: 455px;
    min-height:450px; */
  position: relative;
}

.contenitore-video {
  display: block;
  max-width: 100%;
  /* min-width: 455px;
    min-height:450px; */
  position: relative;
}

.video-scarpa-grossa {
  max-width: 100%;
  max-height: 100%;
  /* border-radius: 8px; */
}

.immagine-scarpa-grossa {
  width: 100%;
  max-height: 100%;
  // Centrare
  /* border-radius: 8px; */
  //   position: relative;
}

.contenitore-mini-bottone-slider {
  position: absolute;
  bottom: 60px;
  right: 35px;
  display: flex;
  gap: 8px;
}

.mini-bottone-slider {
  background-color: colore.$bianco;
}

.mini-bottone-slider:focus {
  background-color: colore.$grigio-chiaro2;
}

.spazio {
  margin-top: 48px;
}

.spazio-wall-header {
  margin-top: 15px;
}

.contenitore-scarpa-testo {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  justify-content: center;
  overflow: hidden;
  /* max-height: 669px; */
  /* align-items: center; */
  position: relative;
  overflow: clip;
}

.dettagli-scarpa {
  position: sticky;
  width: 400px;
  height: 100%;
  padding-top: 48px;
  padding-left: 24px;
  grid-column: 8 / span 3;
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch; /* scorrimento fluido su touch */
  scroll-behavior: smooth;
}

// Parti aggiunte

.nome-tipo-scarpa {
  h1 {
    font-size: 1.5em;
    font-weight: 500; // font-weight: lighter;
    height: 30px;
    margin-bottom: 5px;
  }
  h2 {
    font-size: 1em;
    font-weight: 400;
    height: 30px;
    color: colore.$grigio;
  }
  h4 {
    font-size: 1em;
    font-weight: 500;
    height: 24px;
  }

  h5 {
    font-size: 1em;
    font-weight: 400;
    height: 24px;
    color: colore.$grigio;
  }
}

.prezzo-scarpa {
  padding-top: 8px;
  height: 32px;
  margin-bottom: 64px;

  h3 {
    font-size: 1em;
    font-weight: 500;
    height: 24px;
  }
}

.taglia-misura {
  display: flex;
  justify-content: space-between;
  /* width: 100%; */
}

.taglia-misura span {
  width: 40%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.taglie-misure {
  display: grid;
  //   grid-template: repeat(5, 1fr) / repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  max-width: 100%;
  //   height: 300px;
  height: auto;
  gap: 7px;
  padding-top: 12px;
  margin-bottom: 16px;
  border-radius: 4px;
  //   grid-auto-rows: 48px;
}

.mini-taglia {
  grid-column: span 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 48px;
  border: 1px solid colore.$grigio-chiaro1;
  border-radius: 4px;
}

.mini-taglia:hover {
  border: 1px solid colore.$nero;
}

.mini-taglia input[type="radio"] {
  height: 0;
  width: 0;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  z-index: -1;
}

.mini-taglia label {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

/* 
evento click del contenitore delle taglie con pseudoclasse :has() */

.mini-taglia:has(input[type="radio"]:checked) {
  border: 1px solid colore.$nero;
  border-radius: 4px;
}

/* Al posto di :has() possiamo cambire lo stile sulla label fratello dell'input */
// .mini-taglia input[type="radio"]:checked ~ label {
//   border: 1px solid colore.$nero;
//   border-radius: 4px;
// }

#no-scarpa {
  margin-bottom: 16px;
  color: colore.$rosso;
}

.contenitore-bottoni-grandi {
  width: 100%;
  text-align: center;
}

.bottone-grande {
  /* width: 100%; */ /* Diventa grande quanto il suo contenitore */
  padding: 20px 24px;
  /* height: 60px; */
  border-radius: 30px;
  border: 1px solid colore.$grigio-chiaro1;
  margin: 12.5px 0;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  //   transition:
  //     background-color 0.3s ease,
  //     color 0.3s ease;
}

.bottone-grande:hover {
  border: 1px solid colore.$nero;
}

.bottone-grande.preferiti {
  background-color: colore.$bianco;
  margin-bottom: 32px;
}

.bottone-grande.popup {
  padding: 15px 10px;
  margin-bottom: 0;
}

.bottone-grande.grande {
  width: 100%;
}

.product-description-ctn {
  font-family: "Arimo", sans-serif;
  //   font-weight: bold;
  font-size: 1em;
  line-height: 1.6;

  padding-top: 28px;

  * {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
  }

  ul {
    list-style: disc;
    li {
      margin-left: 27px;
      padding-bottom: 4px;
    }
  }
}

.carrello {
  background-color: colore.$nero;
  color: colore.$bianco;
}

.carrello:hover {
  background-color: colore.$blur;
  border: 1px solid transparent;
}

.carrello:disabled {
  background-color: colore.$grigio-bianco;
  border: 1px solid transparent;
  color: colore.$grigio2;
  cursor: unset;
}

.pagamento {
  padding: 25px 24px;
}

.pagamento:hover {
  background-color: colore.$bianco;
}

.pagamento:disabled {
  background-color: colore.$grigio-bianco;
  /* border: 1px solid transparent; */
  cursor: unset;
}

.pagamento:disabled:hover {
  border: 1px solid colore.$grigio-chiaro1;
}

.pagamento:disabled img {
  filter: invert(50%) grayscale(100%);
}

#popup-carrello {
  position: absolute;
  top: 100%;
  border-bottom-left-radius: 20px;
  padding: 20px;
  z-index: -1;
  background-color: colore.$bianco;
  right: 0;
  width: 410px;
  /* height: 300px; */
  opacity: 0;
  transition:
    height 1s,
    opacity 0.5;
}

.contenitore-popup-carrello {
  width: 380px;
}

.margini-popup {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.aggiunta-carrello {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
}

.aggiunta-carrello h2 {
  font-size: 1em;
  font-weight: 500;
}

.dettagli-scarpa-popup {
  width: 100%;
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

.contenitore-img-scarpa-popup {
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenitore-testo-scarpa-popup {
  width: 70%;
  margin-left: 10px;
  height: 100%;
}

.titolo-scarpa-popup {
  font-size: 1.125em;
}

.dettagli-scarpa-popup p {
  font-weight: 400;
  margin: 5px 0;
  color: colore.$grigio;
}

p.prezzo-popup {
  color: colore.$nero;
}

.contenitore-bottoni-popup {
  display: flex;
  gap: 5px; /* flex-wrap: wrap; */
  /* margin-bottom: 10px; */
}
