// Color Variables
$bianco: #ffffff;
$nero: #000000;
$blur: #1111115c; // new color: rgba(17, 17, 17, 0.36); old color: #00000080
$oscura: #11111126;
$grigio-bianco: #f5f5f5;
$grigio-chiaro1: #e5e5e5;
$grigio-chiaro2: #cacacb;
$grigio: #707072;
$grigio2: #757575;
$grigio-scuro1: #555555;
$grigio-scuro2: #585858;
$grigio-hover: #707072bf;
$arancione: #ff5000;
$arancione-hover: #a96548;
$arancione-scuro: #d33918;
$rosso: #d30005;
$blu-focus: #275dc5;
$verde-scuro: #007d48;
