@use "variables" as colore;

/* Moved in styles.scss:
    - .contenitore-main-carrello --> .ctn-cc-main ✅
    - .contenitore-main-content --> .ctn-cc-main-content ✅
    - .content-carrello --> .content-cc✅
    - .contenitore-dettagli-carrello --> .ctn-cc-details ✅
    - .titolo-carrello --> .cc-title ✅
    - .contenitore-dati-carrello --> .ctn-cc-data ✅
    - .riepilogo-carrello --> .cc-summary ✅
    - .link-spedizione --> .text-link ✅
    - .dettagli-carrello --> .cc-details ✅
    - .negozio --> .text-link-2 ✅
    - .content-riepilogo --> .summary-content✅
    - .titolo-riepilogo --> .summary-title ✅
    - .testo-riepilogo --> .summary-text ✅
    - .question-mark-ctn ✅
*/

/* Contenitore sezione con titolo "Preferiti" */
.preferiti-carrello {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 8px;
}

/* Sezione "dati-scarpa-carrello" */
/* Spedizione gratuita */
.contenitore-spedizione {
  margin-bottom: 12px;
  padding: 17px;
  color: colore.$nero;
  box-shadow:
    inset 0px 1px 0px 0px colore.$grigio-chiaro1,
    inset -1px 0px 0px 0px colore.$grigio-chiaro1,
    inset 0px -1px 0px 0px colore.$grigio-chiaro1,
    inset 1px 0px 0px 0px colore.$grigio-chiaro1;
  /* font-weight: 400; */
}

.titolo-spedizione {
  color: colore.$arancione;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.carrello-img-testo {
  display: flex;
}

.contenitore-img-carrello {
  width: 180px;
  min-width: 180px;
  height: 180px;
  overflow: hidden;
  padding-right: 16px;

  img {
    width: 164px;
    height: 164px;
  }
}

.contenitore-testo-carrello {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.dati-carrello {
  display: flex;
  flex-direction: column;
  min-width: 0px;
}

.link-flex-ctn {
  display: flex;
  flex-flow: column wrap;
  min-width: 0px;
  align-items: flex-start;
  gap: 10px;
}

.testo-carrello {
  color: colore.$grigio;
  margin: 5px 0 3px;
  font-size: 1em;
}

.link-taglia-regalo {
  text-decoration: none;
  color: colore.$grigio;
  border-bottom: 1.5px solid colore.$nero;
  box-shadow: inset 0 -1px 0 0 colore.$nero;
  font-weight: bold;
  border-bottom-color: colore.$grigio;
  padding-bottom: 3px;

  &:hover {
    border-bottom: 1.5px solid colore.$grigio;
    box-shadow: inset 0 -1px 0 0 colore.$grigio;
  }
}

.linea {
  border-top: 0.5px solid colore.$grigio-chiaro1;
  margin-top: 25px;
}

.contenitore-bottoni-carrello {
  width: 164px;
  background-color: colore.$bianco;
  border-radius: 30px;
  display: flex;
  margin-top: 7px;
  margin-bottom: 12px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;

  button {
    cursor: pointer;
    background-color: colore.$bianco;
    //   border: none;
    border-radius: 50%;
  }
}

.contenitore-btn-prezzo {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid colore.$grigio-chiaro1;
  border-radius: 30px;
}

.bottone-prezzo {
  padding: 8px;
  height: 40px;
  width: 40px;
  min-height: 40px;
  min-width: 40px;

  &.preferiti {
    padding: 10px;
    border: 0.5px solid colore.$grigio-chiaro1;
  }
}

#numero-scarpe {
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testo-ritiro {
  padding-top: 12px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

// Text used when there are no items in the cart
#no-item {
  //   display: none;
  font-family: helvetica;
  font-size: 1.063em;
  font-weight: 500;
  margin-top: 10px;
  padding: 0 8px;
}

.totale {
  display: flex;
  justify-content: space-between;
  margin: 0 8px;
  padding: 20px 0;
  align-items: center;
  border-top: 1px solid colore.$grigio-chiaro1;
  border-bottom: 1px solid colore.$grigio-chiaro1;
}

.contenitore-bottoni-riepilogo {
  margin-top: 32px;
}

.img-paypal {
  //   width: 51px;
  aspect-ratio: 51 / 14;
}

.legal-text-ctn {
  font-size: 12px;
  font-weight: 400;
  color: colore.$grigio;
  display: block;
  margin-top: 20px;
  padding-bottom: 24px;

  a {
    color: inherit;
  }
}

.titolo-preferiti {
  margin-top: 24px;
  margin-bottom: 5px;
  font-family: helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.688em;
}

/* NN so dove è stato utilizzato */
// .bordo {
//   border-top: 0.5px solid colore.$grigio-chiaro1;
//   padding-top: 24px;
// }
