@use "variables" as colore;

* {
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
button,
main {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
}

app-header {
  position: sticky;
  top: 0;
  left: 0;
  //   width: 100%;
  height: 96px;
  z-index: 50;
  transition: top 0.3s;
  display: block;
  //   transition: transform 0.3s ease-in-out;

  // Classes used to hide the header or just the mini-header
  &.header-all-hidden {
    top: -100%;
  }

  // for the #mini-header when scrolling up
  &.mini-header-hidden {
    top: -36px;
  }
}

.font-1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
}

.testo-normale {
  font-family: helvetica;
  font-weight: 500;
  margin-bottom: 24px;
}

/* Per rendere elastici tutte le immagini */
img {
  max-width: 100%;
  display: block;
}

/* Per togliere i puntini delle liste */
ul {
  list-style-type: none;
}

/* Per togliere la sottolineatura dei link */
a {
  text-decoration: none;
  color: colore.$nero;
}

button,
input,
details {
  display: block;
}

.padding-principale {
  padding: 0 48px;
}

// Parte header component
// Fine parte header component

// Pate home component

/* For browsers that support `scrollbar-*` properties */
@supports (scrollbar-color: auto) {
  .slider ul {
    scrollbar-width: auto;
    scrollbar-color: colore.$grigio colore.$bianco;
  }
}

/* Otherwise, use `::-webkit-scrollbar-*` pseudo-elements */
@supports selector(::-webkit-scrollbar) {
  /* Firefox */
  .slider ul {
    scrollbar-width: auto;
    scrollbar-color: colore.$grigio colore.$bianco; /* 646264 */
  }

  /* Chrome, Edge, and Safari */
  .slider ul::-webkit-scrollbar {
    width: 16px;
  }

  .slider ul::-webkit-scrollbar-track {
    background: colore.$bianco;
  }

  .slider ul::-webkit-scrollbar-thumb {
    background-color: colore.$grigio;
  }
}

// Class used to remove the scroll
.no-scroll {
  overflow: hidden;
  height: 100vh;
}

// class applied on header component to remove the click and hover of its elements
.disable-interaction {
  pointer-events: none; // no click and hover
  user-select: none; // no text-selection
}

/* Oscuramento pagina */
.blur {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 40;
  background-color: colore.$blur;
  transition: opacity 300ms ease;

  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: auto;
    // display: block;
  }
}

// Renamed .bottone-header class
.icon-button {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;
  cursor: pointer;
  position: relative;
  z-index: 1;

  .numero-carrello {
    position: absolute;
    top: -2px;
    right: -5px;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    z-index: 10;
  }
}

.icon-button.header:hover,
button.icon-button.cart:not(:disabled):hover {
  background-color: colore.$grigio-chiaro1;
}

.icon-button.bottone-cerca:hover,
.icon-button.bottone-elimina:hover,
.icon-button.exit:hover {
  background-color: colore.$grigio-chiaro2;
}

.icon-button.slider:active {
  background-color: colore.$grigio-chiaro2;
}

// renamed .link-membership class
.nike-link {
  height: 36px;
  margin: 8px 16px 8px 0;
  padding: 7.5px 16px;
  border-radius: 30px;
}

.nike-link.grigio {
  background-color: colore.$grigio-bianco;

  &:hover {
    background-color: colore.$grigio-chiaro1;
  }
}

// Utility class that expands the link to cover the entire container
.link-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
}

// class used to make gray a image (used in checkout and footer)
.img-grigio {
  filter: invert(50%) grayscale(100%);
}

/* Parte homepage.html*/

/* Parte scarpa.html */

.bottone-grande {
  /* width: 100%; */
  padding: 20px 24px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid colore.$grigio-chiaro1;
  background-color: colore.$bianco;
  margin: 12.5px 0;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.bottone-grande:hover {
  border: 1px solid colore.$nero;
}

.bottone-grande.preferiti {
  background-color: colore.$bianco;
  margin-bottom: 32px;
}

.bottone-grande.nero {
  background-color: colore.$nero;
  color: colore.$bianco;
  border-color: transparent;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: colore.$blur;
    border-color: transparent;
    transition: none;
  }

  &:active {
    background-color: colore.$blur;
    // transform: translateY(2px);
  }

  &:disabled {
    background-color: colore.$grigio-bianco;
    // border: 1px solid transparent;
    color: colore.$grigio2;
    cursor: unset;
  }
}

.bottone-grande.popup {
  padding: 15px 10px;
  margin-bottom: 0;
}

.bottone-grande.expanded {
  width: 100%;
}

.bottone-grande.paypal {
  //   padding-top: 15px;
  //   padding-bottom: 15px;
  border-color: colore.$grigio-scuro1;
  transition: background-color 0.3s ease;

  &:not(:disabled):hover {
    filter: brightness(0.95);
    overflow: inherit;
  }

  &:disabled {
    background-color: colore.$grigio-bianco;
    border: 1px solid colore.$grigio-chiaro1;
    cursor: unset;
    img {
      filter: invert(50%) grayscale(100%);
    }
  }
}

// .pagamento {
//   padding: 25px 24px;
// }

/* Parte carrelo.html */
/* Parte checkout.html */
.header-checkout {
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subheader-checkout {
  width: 100%;
  height: 47px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 0;
}

.contenuto-subheader {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 0.875em;
  font-family: helvetica;
}

.ctn-chat {
  display: flex;
  justify-content: space-between;
}
/* Parte checkBox pagamento*/

/* Parte thank-you-page.html */

/* Sezione della pagina */
.container-principale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 20px;
  position: relative;
  gap: 30px;
}

.container-logo {
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container-logo img {
  height: 100%;
  object-fit: cover;
}

/* Contenitore del messaggio */
.container-messaggio {
  background: colore.$grigio-chiaro2;
  padding: 40px;
  /* margin-top: 20px; */
  border-radius: 8px;
  max-width: 500px;
  text-align: center;
}

/* Messaggio */
.titolo-messaggio {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.contenuto-messaggio {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

.contenuto-messaggio.slogan {
  font-family: Nike Futura ND;
  font-size: 3em;
}

/* Pulsante call to action */
.bottone-grande.home {
  /*     display: inline-block;
    padding: 15px 30px; */
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: colore.$bianco;
  background-color: colore.$arancione; /* Colore arancione brillante tipico di Nike */
  border: 1px solid colore.$arancione;
  text-decoration: none;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.bottone-grande.home:hover {
  background-color: colore.$arancione-hover;
}
