@use "variables" as colore;

/* Parte banner */
#banner-hero {
  position: relative;
  color: colore.$bianco;
  width: 100%;
  min-width: 900px;

  img {
    max-width: 100%;
    /* min-width: 900px; */
    height: 100%;
    object-fit: cover;
  }
}

#testo-banner-hero {
  position: absolute;
  left: 30px;
  bottom: 40px;
}

/* Il font per Scritte in grassetto grandi */
.titolo-banner {
  font-family: "Nike Futura ND";
  font-size: 2.5em;
  margin-bottom: 20px;
}

/* Parte slider */
.slider {
  width: 100%;
  margin-top: 48px;

  ul {
    display: flex;
    padding: 0 0 48px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    white-space: nowrap;

    li {
      margin-right: 12px;
    }
  }

  img {
    max-width: 100%;
    object-fit: cover;
  }
}

/* Contiene il titolo dello slider e i due bottoni di movimento*/
.contenitore-titolo-bottoni {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 53px;
  margin-bottom: 12px;
}

.titolo-slider {
  font-size: 1.5em;
  font-weight: 500;
}

.contenitore-bottoni-slider {
  display: flex; /* Per far centrare l'immagine inserita */
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  margin-left: 12px;
}

/* Bottone degli slider */
.bottone-slider {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-color: transparent;
  border-radius: 50%;
  background-color: colore.$grigio-chiaro1;
  cursor: pointer;

  &:hover {
    background-color: colore.$grigio-chiaro2;
  }

  &:disabled {
    background-color: colore.$grigio-bianco; /* #9E9EA0; #9E9EA0 */
    cursor: unset;

    img {
      filter: invert(50%) grayscale(100%);
    }
  }

  &:focus {
    background-color: colore.$grigio-chiaro2;
    box-shadow: 0px 0px 0px 2px colore.$blu-focus;
  }
}

/* Fine parte scrollbar orizzontale */

/* Parte lista scarpe */

/* class used to contain the cards of every li from the sliders */
.contenitore-prodotto-li {
  min-width: 300px;
  min-height: 300px;
  /* position: relative; */
}

.contenitore-scarpa {
  width: 100%; /* 375 * 375 450px*/
  height: 100%; /* 450px */
  display: flex;
  flex-flow: column wrap;
}

.contenitore-img-scarpa {
  width: 465px;
  height: 465px;
  overflow-y: hidden;
  background-color: colore.$grigio-bianco;
}

.testo-scarpa {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  height: 100%;
}

.nome-tipo-scarpa {
  h1 {
    font-size: 1.563em;
    font-weight: lighter;
    height: 30px;
    margin-bottom: 5px;
  }
  h2 {
    font-size: 1em;
    font-weight: 400;
    height: 30px;
    color: colore.$grigio;
  }
  h4 {
    font-size: 1em;
    font-weight: 500;
    height: 24px;
  }

  h5 {
    font-size: 1em;
    font-weight: 400;
    height: 24px;
    color: colore.$grigio;
  }
}

.prezzo-scarpa {
  padding-top: 8px;
  height: 32px;
  margin-bottom: 64px;

  h3 {
    font-size: 1em;
    font-weight: 500;
    height: 24px;
  }
}

/* Parte Sport*/
.contenitore-sport {
  width: 100%; /* 450px*/
  height: 100%; /* 300px */
  display: flex;
  flex-flow: column wrap;
}

.contenitore-img-sport {
  width: 450px;
  height: 300px;
}

.testo-sport {
  display: flex;
  width: 100%;
  height: 80px;
  flex-direction: column;
  justify-content: flex-end;

  h3 {
    font-weight: 500;
  }
}

/* Parte membership */
.contenitore-membership {
  width: 430px;
  height: 430px; /* 450px */
  position: relative;
}

.contenitore-img-membership {
  width: 100%;
  height: 100%;
}

.testo-membership {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: calc(60% - 48px);
  left: 48px;
  right: 38px;
  bottom: 48px;
  width: 200px;

  p {
    margin-top: 0;
    margin-bottom: 8px;
  }

  h3 {
    font-size: 1.5em;
    font-weight: 500;
  }

  p,
  h3 {
    color: colore.$bianco;
  }
}

/* .link-membership renamed class */
.ctn-nike-link {
  margin-top: 18px;
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: flex-start;
}

.nike-link.bianco {
  background-color: colore.$bianco;
  z-index: 1;
  &:hover {
    background-color: colore.$grigio-chiaro2;
  }
}

.link-membership-intero {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
}
/* Fine parte slider */
